/*
Theme Name:     Roma H24 2016 Child
Author URI: http://www.manafactory.it
Description: Tema figlio di romah24.it
Author: Manafactory s.r.l (Alessandro Ambrosini)
Template:       roma-h24-2016
Version:        0.1.0

*/




a.buy-vetrina {
    background: #f67901 !important;
}

@media (min-width: 992px){
    img.logo_principale {
        max-height: 90px !important;
    }
    div.is-sticky img.logo_principale {
        max-height: 50px !important;
    }
}


.main-nav ul li a:hover{
    background-color: #f67901;
    color: #fff !important;
}

.header-container.sticky-wrapper.is-sticky ul {
    text-align: right !important;
}

.header-container.sticky-wrapper.is-sticky .logo {
    padding-top: 12px !important;
}

@media (max-width: 989px){
    .menu-mobile ul.navgoco li ul li a:hover {
        background-color: #f67901;
    }}



.home-news-list b{
    font-family: "Arial Black";
    font-size: 16px;
}