body{
    background-color: #F2F2F2;
}

a.red_link, div.red_link a{color: #e94847}
div.utilities a{color: #000000}

div.div_white p{
    color: #fff;
}

a:visited {
    text-decoration: none;

}

div.article-thumb-content{
    min-height: 50px;
}

a.foto_news{padding-left: 0 !important;}

.article-content.article-thumb-content a {
    display: inline-block !important;
}

.ieri_no_icons{
    padding-left: 0!important;
}

div.full_width_news_title{
    height: 87px !important;
}

div.dett_evento{
    height: 45px;
}

div.dett_evento_icona_cont{
width: 10% !important;
}

div.dett_evento_text_cont{
    width: 75% !important;
    height: 100%;
}
div.dett_evento_text_cont p{
    margin-top: 13px
}
div.container_dett {
    padding: 15px 0;
    margin-left: 10px;
}
span.icon.dett_evento{
    position: inherit;
    z-index: 2;
    top: 0;
    height: 50px;
    width: 48px!important;
    text-align: center;
    border: 1px solid #E94847 !important;
    padding: 6px 9px !important;
    border-radius: 50%;
    margin: 0 0 0 0 !important;
    font-size: 26px !important;
    color: #E94847 !important;
}

span.icon.dett_evento.icon-mail{
    font-size: 20px !important;
    padding-top: 11px !important;
}
span.icon.dett_evento.icon-data{
    font-size: 28px !important;
    padding-top: 3px !important;
}

.icon-video_new:before {
    content: "\M"; }
.icon-luogo:before {
    content: "\O"; }
.icon-data:before {
    content: "\Q"; }
.icon-telefono:before {
    content: "\N"; }
.icon-mail:before {
    content: "\45"; }
.icon-sito:before {
    content: "\P"; }

.no_padding_left p{
    padding-left: 0 !important;
}

div.pagination_container{
    width: 100%;
    text-align: center;
}

.pager {
    width: 100%;
    text-align: center;
    padding: 30px 0 20px 0; }
.pager:before, .pager:after {
    content: " ";
    display: table; }
.pager:after {
    clear: both; }
.pager {
    *zoom: 1; }
.pager.text-left {
    text-align: left; }
.pager span, .pager a {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 9px 0 9px;
    color: #ffffff;
    font-size: 16px;
    margin: 0 3px 0 3px;
    overflow: hidden; }
@media (max-width: 991px) {
    .pager span, .pager a {
        height: 30px;
        line-height: 30px;
        padding: 0 10px 0 10px;
        font-size: 18px; } }
.pager span.prev, .pager a.prev {
    padding: 0 18px 0 15px; }
@media (max-width: 991px) {
    .pager span.prev, .pager a.prev {
        padding: 0 10px 0 10px; } }
.pager span.next, .pager a.next {
    padding: 0 15px 0 18px; }
@media (max-width: 991px) {
    .pager span.next, .pager a.next {
        padding: 0 9px 0 9px; } }
.pager a {
    background: #E94847; }
.pager a:hover {
    background: #A60E0D;
    text-decoration: none; }
.pager span {
    background: #E94847; }
.pager span.current {
    background: #A60E0D;
    color: #ffffff; }
.pager span.icon {
    display: block;
    height: auto;
    padding: 0;
    margin: 0;
    color: #ffffff;
    line-height: 33px;
    background: none; }
@media (max-width: 991px) {
    .pager span.icon {
        line-height: 34px; } }


.icone-icon-arrow-right:hover:before {
    content: "\41";
    color: #A60E0D;}
.icone-icon-arrow-left:hover:before {
    content: "\7a";
    color: #A60E0D;}
.icone-icon-arrow-right:before {
    content: "\41";
    color: #E94847;}
.icone-icon-arrow-left:before {
    content: "\7a";
    color: #E94847;}
span.arrows{
    background-color: #fff;
    padding: 0 !important;
}
a.next, a.prev{
    background-color: #fff;
    padding: 0 !important;
}
a.next:hover, a.prev:hover{
    background-color: #fff;
    padding: 0 !important;
}

.icone-icon-arrow-right:before,.icone-icon-arrow-left:before {
    font-family: "romah24" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
span.dots{
    background-color: #fff;
    color: #E94847;
}

h1.page404{
    font-size: 200px;
}

.page404{
    text-align: center;
}

div.post-content.page_404{
    margin: 30px 0;
}

.header-container .main-nav ul li.current-menu-item a {
    border-bottom: 0px solid #fff;
    color: #e94847 !important;
}

.thumb span.icon {
    position: absolute;
    z-index: 2;
    top: 50%;
    width: 100%;
    height: 46px;
    margin: -26px 0 0 0;
    color: #ffffff;
    font-size: 46px;
    text-align: center;
}

.cbutente{
    color:#444 !important;
}
p.cbutente{
    margin: 20px 0 0px 0;
}

select.cbutente, input[type=file].cbutente{
    color: #444;
}

form.form_contributo_utenti div{
    margin-top: 20px;
}

input.repeater_item_delete{
    background-color: #fff;
    border: 0px solid #f00;
    color: #f00;
    font-weight: bold;
}
input.repeater_item_add{
    background-color: #fff;
    border: 0px solid #006505;
    color: #006505;
    font-weight: bold;
    margin-top: 20px;
}

.repeater_img{
    display: inline !important;
}
input.input_file{
    width: 90%;
    padding-top: 11px;
}

input[type='submit'].form-control{
    margin-top: 80px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 47px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    color: #006505;
    text-transform: uppercase;
    background-color: #fff;
    background-image: none;
    border: 3px solid #006505;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

p.messaggio_form{
    border: 2px solid #008901;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    margin: 20px 0;
}



@media (max-width: 989px){
    div.full_width_news_title{
        margin-bottom: 0px !important;
    }
    div.banner_home_300_250_container{
        display: block !important;
    }
    img.banner_home_300_250{
        width: 100% !important;
    }
}

div.time{
    font-weight: bold !important;
}


.top-nav-wrapper .top-nav-content .meteo-content span.icon {
    top: -20px !important;
}
.icone-arrow-right:before {
    content: "\62";
}
.icone-arrow-left:before {
    content: "\77";
}
[class^="icone-"]:before, [class*=" icone-"]:before {
    font-family: "romah24" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#cboxOverlay {
    display: table;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,1);
    z-index: 9999;
}

#colorbox {
    z-index:10000;
    outline:0;
}

#cboxCurrent {
    color:white;
    font-family: 'romah24';
    position:fixed;
    left:20px;
    top:14px;
}

#cboxClose {
    position:fixed;
    top:0;
    right:4px;
}

#cboxNext,
#cboxPrevious {
    background:none;
    border:0;
    color:white;
    position: fixed;
    top:50%;
    right:2.5%;
    font-size:74px;
    margin-top:-37px;
}

#cboxPrevious {
    right:auto;
    left:2.5%;
}

div.mm_img_gallery img{
    width: 100%;
    height: auto;
    display: block;
}


video {
    max-width: 100%;
    height: auto;
}

iframe,
embed,
object {
    max-width: 100%;
    width: 100% !important;
    }


p.nato_morto{
    font-weight: 600;
}
p.nato_morto.nome_defunto{
    font-size: 18px;
}




.unsupported {
    background: #fddfde;
}

.content_defunto{
    padding-left: 15px;
}


img.avatar_comment_user{
    border-radius: 50%;
}

p.comment_date, p.user_name{
    display: inline-block;
    width: 40%;
}
p.user_name{
    font-size: 15px;
    font-weight: 600;
}

p.name_commento, p.email_commento
{
    margin-top: 20px !important;
}


@media (max-width: 768px) {
    .avatar_container{
        text-align: center;
    }

    p.comment_date, p.user_name{
        display: block;
        width: 100%;
        text-align: center;
    }
}

.utilities-right > span.page-numbers.current{
    display: inline-block;
    margin: 0 15px 0 0;
    height: 25px;
    text-decoration: underline;
}

.utilities-right > a.page-numbers {
    display: inline-block;
    margin: 0 15px 0 0;
    height: 25px;
    float: none;
}
.utilities-right > a.page-numbers {
background: none}


.utilities a span.icon {
    width: 23px;
    height: 23px;
    font-size: 20px;
    display: block;
    float: left;
}


span[property='itemListElement'] >span[property='name']{
    font-weight: bolder ;
}

div.box_ricerca_persona_cara{background-color: #F4F4F4;}

div.box_ricerca_persona_cara h3, div.box_ricerca_persona_cara p, div.box_ricerca_persona_cara input{
    color: #000000 !important;
}

h2.filtri_applicati{
    font-family: "latosemibold", Helvetica, Arial, sans-serif;
    float: left;
    display: block;
    text-transform: uppercase;
    color: #e94847;
    font-size: 22px;
}


div.filtri_applicati {
    margin: 20px -25px 20px -25px;
    padding: 15px 20px 15px 20px;
    background: #ffffff;
}

.thumb_sidebar{width: 50% !important;}

h2.video_sidebar{
    font-size: 20px;
}

div.video_sidebar{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
}


@media (max-width: 989px) {
    .thumb_sidebar {
        width: 100%;
        margin: 0 10px 20px 0 !important;
        position: relative;
        z-index: 0;
        float: left !important;   }
}

h3.mostra_altro_sidebar{
    background-color: #fff !important;
    color: #636363 ;
    font-weight: bold;
}

div.mostra_altro_sidebar{
    border-bottom:0 !important;
    border-color: #636363 !important;
    border-top: 2px solid !important;
    text-align: center;
}



.box.box-five {
    width: 11%;
}


div.entra_nella_community{
    background-color: #00BCD4;
}
div.entra_nella_community h3{
    font-size: 14px !important;
    color: #fff !important; ;
}
div.entra_nella_community p{
    color: #fff !important; ;
}

div.entra_nella_community a{
    color: #00BCD4 !important; ;
}

/* Media quires for a responsive layout */

div.logo a {
    text-decoration: initial;
    color:#000;
    }

div.logo a:hover {
    color:#000;
    text-decoration: initial;
}





/* responsiveslides. css */

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
        width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
    }



.events {
    list-style: none;
}

.callbacks_container {
    margin-bottom: 50px;
    position: relative;
    float: left;
    width: 100%;
}

.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.callbacks li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.callbacks img {
    display: block;
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
    border: 0;
}

.callbacks .caption {
    display: block;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    text-shadow: none;
    color: #fff;
    background: #000;
    background: rgba(0,0,0, .8);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    margin: 0;
    max-width: none;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 52%;
    left: 0;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../img/themes.gif") no-repeat left top;
    margin-top: -45px;
}

.callbacks_nav:active {
    opacity: 1.0;
}

.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}

#slider3-pager a {
    display: inline-block;
}

#slider3-pager img {
    float: left;
}

#slider3-pager .rslides_here a {
    background: transparent;
    box-shadow: 0 0 0 2px #666;
}

#slider3-pager a {
    padding: 0;
}

@media screen and (max-width: 600px) {
    h1 {
        font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .callbacks_nav {
        top: 47%;
    }
}


/* end responsiveslides. css */

.date_escluse_container{
    background: url("../img/bar.png");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: left top;
    height: auto !important;
    color: #000;
}

.post-content p {
    font-size: 16px;
    color: #000;
}

p.date_escluse{
    margin-top: 0px !important;
}
p.date_escluse_titolo{
    margin-bottom: 2px !important;
}


div.correlati_post{
    padding-top: 20px !important;
}

h3.news_dettaglio_data_e_ora{
    font-size: 20px;
    margin-bottom: 10px;
}

h5.h5_post_author{
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

a.trend_single_news{  color: #fff !important;
}

div.trend.single_news{
    margin: 30px 0 20px 0 !important;
}


.top-nav-social img {width: 32px; border-radius: 3px; margin-left: 3px}
.utilities-right img {width: 24px; border-radius: 3px; margin-left: 3px}
.utilities a {
    margin: 0 5px 0 0 !important;
}


ul.descr_annuncio li{display:inline-block; width: 30%;}

ul.descr_annuncio{
    margin: 30px 0;
    font-size: 16px;
}


.alignleft{float:left; margin-right:20px !important;}
.alignright{float:right; margin-left:20px !important;}

/* dovrà essere tolto quando la skin verrà inserita*/
.skin-background {
    padding-top: 20px;
}


@media (max-width: 550px){
    ul.descr_annuncio li {
        display: block;
        width: 100%;
    }
}