
body{
    background-color: #4A4A4A;
}

.header-container, .main-nav, .container{
    background-color: #000 !important;
}

div.logo a{
    color: #fff;
}
div.logo a:hover {
    color:#fff;
    text-decoration: initial;
}
.header-container .main-nav ul li a {
    color: #fff;
    background-color: #000 !important;
    border: 1px solid #000 !important;

}
.header-container .main-nav ul li a:hover {
    color: #fff;
    background-color: #000;
}

.header-container .main-nav ul li ul.sub-menu {
    background: #000 !important;
    border: 1px solid #000 !important;

}

p.p_white{color: #fff; margin-top: 20px;}
p.p_white a{color: #fff;}

div.contenitore_image{width: 100%;
    text-align: center;}

div.contenitore_image img{width: auto; object-fit: contain; max-width: 100% }



