
div.section_community_book h3, div.section_widget_social h3, div.section_ieri h3, div.section_dalla_ns_comm h3{
    background: #012c3d !important;
}
div.section_community_book, div.section_widget_social, div.section_ieri, div.section_dalla_ns_comm{
    border-color: #012c3d !important;
}
div.section_defunti h3{
    background: #8e27a5 !important;
}
div.section_defunti{
    border-color: #8e27a5 !important;
}
a.section_defunti{
    color: #8e27a5 !important;
}

div.section_coupon h3{
    background: #ca7f02!important;
}

div.section_coupon {
    border-color: #ca7f02 !important;
}
a.clicca_qui_coupon{
    background: #ca7f02 !important;
}
.box.box-coupon {
    border: 3px dashed #ca7f02 !important;
}

.box_news_black{
    background: #000 !important;
}

.box.box-featured .box-featured-content h2 a {
    color: #fed835 !important;
}

.box-featured-abstract p{
    color: #fed835 !important;
}

div.section_tv h3{
    background: #C22D05 !important;
}

div.section_tv{
    border-color: #C22D05 !important;
}

div.registrati_h24{
    background: #C22D05 !important;
}