/*
Theme Name: Roma H24 2016
Author: Manafactory s.r.l (Alessandro Ambrosini)
Author URI: http://www.manafactory.it
Description: Tema padre di romah24.it
Version: 1.0.0
*/

.home-news-list b{
    font-family: "Arial Black";
    font-size: 16px;
}